@page
@model BikeListRazor.Pages.BikeList.EditModel

<br />
<h2 class="text-info">Edit Bike</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Bike.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Bike.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Bike.Name" class="form-control" />
            </div>
            <span asp-validation-for="Bike.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Bike.Brand"></label>
            </div>
            <div class="col-6">
                <input asp-for="Bike.Brand" class="form-control" />
            </div>
            <span asp-validation-for="Bike.Brand" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}